os:
  - linux
  - osx
language: rust
rust:
  - stable
  - beta
  - nightly
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true

before_deploy:
- bash ci/before-deploy.bash

deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: rM+YhIj/Jv/baoCYd4py9XEj4W1YWw+1XxvJCqeCgMmXxSAHXRycjA4R5yrkZsPQHyjqwFAzM2YRlZcLnHcsP901ieYZaVYhY2ACvvXI/PxPyLNGGQ+/bXpF9pHkteJ5ylVUJybbIdJxBP5SKBUuYBpxL3EVcj7iuEHNCOx9mHo6X9xLN1hoVVfCmEwZTSKCyoEsLf0ePsNXvCUNuh/DHvDFrTNZ742UqmhIq5eQvV/dZKyt5C9kWYqpXXW7efwD+SUdix/dEeGrkJkG4c97bPU5glB//uVGRyP3nGVRvFsdJCrLG3tlr1psQhiaGzoaArQ3pwsSkefO5313Yi6jeoGjPvc6W0HX5Rkpbtqod2toFHlACuiRkz0Bgx6w0TJBdld027yxDFo9RCDEKoCU57ZXHewegLEcDmfj5/cHibKe7xsoNDr1QLZ7DybaEu/i5pEz6smJLA15YasbkMUNZsxDoeMeDlA4lxMSPs06NsdYuDrBEMvoLzw3BiefMoCLgagKWsgZPAU9g+JgqMHr/8Fclgae7VbFfntnQbSO3rZe8ZKtMEVKrxVIeBy2P41Rxb2Fx8gyqMStX2AYD6/RFlKQr7FxgtoHvpfD4RaX0G8kYW6em8yxRCGl5ZH8GlUKkK+KOuKwka0QrlG18BpqRuz1vnQjmINoeA8ZegPyBbQ=
  file_glob: true
  file: 'binaries/*'
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
    repo: sbstp/kubie
